
<h2>Datenschutzerklärung</h2>
<p>Die Nutzung unserer Seite ist ohne  eine Angabe von personenbezogenen Daten möglich. Für die Nutzung einzelner  Services unserer Seite können sich hierfür abweichende Regelungen ergeben, die in  diesem Falle nachstehend gesondert erläutert werden. Ihre personenbezogenen  Daten (z.B. Name, Anschrift, E-Mail, Telefonnummer, u.ä.) werden von uns nur  gemäß den Bestimmungen des deutschen Datenschutzrechts verarbeitet. Daten sind dann  personenbezogen, wenn sie eindeutig einer bestimmten natürlichen Person  zugeordnet werden können. Die rechtlichen Grundlagen des Datenschutzes finden  Sie im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG). Nachstehende  Regelungen informieren Sie insoweit über die Art, den Umfang und Zweck der  Erhebung, die Nutzung und die Verarbeitung von personenbezogenen Daten durch  den Anbieter</p>
<p><strong>André Mellentin <br /> Pfarrer-Diebel-Strasse 10 <br />95176 Konradsreuth</strong></p>
<!--<p><strong>[Telefonnummer des Betreibers]</strong></p>-->
<p><strong>E-Mail:</b> <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#110;&#100;&#114;&#101;&#46;&#109;&#101;&#108;&#108;&#101;&#110;&#116;&#105;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#97;&#110;&#100;&#114;&#101;&#46;&#109;&#101;&#108;&#108;&#101;&#110;&#116;&#105;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></strong></p>
<p>Wir weisen darauf hin, dass die  internetbasierte Datenübertragung Sicherheitslücken aufweist, ein lückenloser  Schutz vor Zugriffen durch Dritte somit unmöglich ist.</p>

<h4>Serverdaten</h4>
<p>
            Aus technischen Gründen werden u.a. folgende Daten, die Ihr Internet-Browser an  uns bzw. an unseren Webspace-Provider  übermittelt, erfasst (sogenannte Serverlogfiles): <br>
<br>
            - Browsertyp und -version <br>
            - verwendetes Betriebssystem <br>
            - Webseite, von der aus Sie uns besuchen (Referrer URL) <br>
            - Webseite, die Sie besuchen <br>
            - Datum und Uhrzeit Ihres Zugriffs <br>
            - Ihre Internet Protokoll (IP)-Adresse. <br>
<br>
            Diese anonymen Daten werden getrennt von Ihren eventuell angegebenen personenbezogenen  Daten gespeichert und lassen so keine Rückschlüsse auf eine bestimmte Person  zu. Sie werden zu statistischen Zwecken ausgewertet, um unseren  Internetauftritt und unsere Angebote optimieren zu können. </p>

<h4>Einsatz von  Webanalysedienst PIWIK</h4>
<p>Wir setzen  auf unserer Website den Webanalysedienst PIWIK ein. PIWIK verwendet für diese  Analyse Cookies. Cookies sind<strong> </strong>kleine  Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der  Benutzung der Website durch Sie ermöglichen. <br>
            Die durch  die Cookies erzeugten Informationen, beispielsweise Zeit, Ort und Häufigkeit  Ihres Webseiten-Besuchs einschließlich Ihrer IP-Adresse, werden an unseren PIWIK-Server übertragen und dort gespeichert. Ihre IP-Adresse wird bei diesem  Vorgang umge­hend anony­mi­siert, so dass Sie als Nutzer für uns anonym  bleiben.<strong> </strong>Die durch den Cookie  erzeugten Informationen über Ihre Benutzung dieser Webseite werden nicht an  Dritte weitergegeben.<strong> </strong>Sie können die  Installation der Cookies durch eine entsprechende Einstellung Ihrer  Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in  diesem Fall gegebenenfalls nicht sämtliche Funktionen unserer Website  vollumfänglich nutzen können.&nbsp;</p>

<h3>Auskunft/Widerruf/Löschung</h3>
<p>Sie können  sich aufgrund des Bundesdatenschutzgesetzes bei Fragen zur Erhebung, Verarbeitung  oder Nutzung Ihrer personenbezogenen Daten und deren Berichtigung, Sperrung,  Löschung oder einem Widerruf einer erteilten Einwilligung unentgeltlich an uns  wenden. Wir weisen darauf hin, dass Ihnen ein Recht auf Berichtigung falscher  Daten oder Löschung personenbezogener Daten zusteht, sollte diesem Anspruch  keine gesetzliche Aufbewahrungspflicht entgegenstehen.</p>
<p>
<a target="_blank" href="https://www.ratgeberrecht.eu/leistungen/muster-datenschutzerklaerung.html">Muster-Datenschutzerklärung</a> der <a target="_blank" href="https://www.ratgeberrecht.eu/">Anwaltskanzlei Weiß &amp; Partner</a></p>
